@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+KR:wght@300&display=swap');
* {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Inter', sans-serif;
}

.sideBar .MuiAccordionSummary-content  {
    justify-content: center;
}
.sideBar .MuiAccordionDetails-root  {
    display: flex;
    justify-content: center;
    padding :0
}